body {
    background-color: rgb(241, 222, 200);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.card {
    height: 650px;
    width: 300px;
    background-color: rgb(246, 239, 232);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgb(191, 183, 166);   
}

.card:hover {
    box-shadow: 0 0 50px rgb(151, 144, 130);
}

h1 {
    margin-top: 35px;
    color: rgb(57, 42, 28);
}

p {
    color: gray;
}

footer {
    margin-top: 30px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    color: rgb(113, 97, 76);
}

a {
    text-decoration: none;
    color: rgb(149, 77, 85)
}

a:hover {
    color: rgb(255, 111, 135);
}

/*flexbox*/

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}